<nav class="navbar">
  <div class="navbar-spacer"></div>

  <div class="navbar-user-data"
    *ngIf="auth.isAuthenticated() && auth.user.sessionKey === 'fake-session'">
    <ul class="navbar-user-data-list">
      <li class="navbar-user-data-list-item">Voting power: {{ auth.user.votingPower }}</li>
      <li class="navbar-user-data-list-item">Rewards: {{ auth.user.rewards }} tokens</li>
      <li class="navbar-user-data-list-item">Reputation: {{ auth.user.reputation }}</li>
    </ul>
  </div>

  <div class="navbar-item"
      *ngIf="auth.isAuthenticated()">

    <i *ngIf="auth.user.sessionKey === 'fake-session'" class="fas fa-user-circle"></i>
    <img
      *ngIf="auth.user.sessionKey !== 'fake-session'"
      src="assets/kvk-id-logo.png"
      width="60"
      class="navbar-kvk-icon">

    {{ auth.user.companyName }}
  </div>

  <div class="navbar-item"
      *ngIf="auth.isAuthenticated()">
    <button mat-button (click)="auth.logout()">Logout</button>
  </div>
</nav>
