<h3>Share your idea for: Vacancy challenge Groningen</h3>

<form #personForm="ngForm" (ngSubmit)="onSubmit(personForm.value)">


  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="flex-start"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" style="width:100%" cellspacing="0">
      <mat-form-field >
        <input matInput placeholder="Name" name="name" [(ngModel)]="name">
      </mat-form-field>   
  </div>

  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" style="width:100%" cellspacing="0">

    <mat-form-field fxFlex="100">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="5"
          matAutosizeMaxRows="7" placeholder="Describe your idea" name="description" [(ngModel)]="description"></textarea>
    </mat-form-field >
  </div>

  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" style="width:100%" cellspacing="0">
    <mat-form-field fxFlex="100">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
        matAutosizeMaxRows="5" placeholder="Assumption"></textarea>
    </mat-form-field >
  </div>


  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

      <h3 fxFlex="100">What do you need?</h3>
  </div>
  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="flex-start"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" style="width:100%" cellspacing="0">
    
    <div fxFlex="50" fxFlex.sm="100">
      <div *ngFor="let checkbox of checkboxes">
        <div fxLayout="row" 
          fxLayout.xs="column"
          fxLayoutAlign="flex-start"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <mat-checkbox fxFlex="50" fxFlex.sm="100" class="dialog-checkbox">{{ checkbox.value }}</mat-checkbox>
        </div>
      </div>
    </div>

    <mat-form-field fxFlex="50" fxFlex.sm="100">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
        matAutosizeMaxRows="5" placeholder="Other"></textarea>
    </mat-form-field>
    
  </div>

  <div fxLayout="row" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" style="width:100%" >

    <mat-divider></mat-divider>
      <button mat-button color="primary">Invite for feedback</button>
      <button mat-button color="accent" type="submit" >Send for review</button>
  </div>
</form>