<div class="content"
  fxLayout="row"
  fxLayout.xs="column"
  fxFlexFill >

  <mat-card class="feasibility-card">
    <div class="feasibility-content">
      <h1>Feasibility Track</h1>
      <h2>Recycled Furniture</h2>
      <h4>by Recycled Furniture</h4>

      <div class="columns">
        <div class="column">
          <h2 class="street">Voorstreek Here 55, Groningen</h2>
        </div>
        <div class="column">
          <p><i class="fas fa-bullseye"></i> www.locatiescan.info</p>
        </div>
      </div>

      <p>
        Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum porta libero id ultricies. Suspendisse eget purus
        eget velit vulputate cursus. Aliquam ex risus, vehicula sit amet velit id, dictum facilisis mi. Phasellus varius sapien at
        massa posuere imperdiet.
      </p>

      <h3>324 Vote points for this area</h3>

      <div class="columns">
        <div class="column">
          <ul class="requirements-list">
            <li class="requirements-list-item"><mat-checkbox checked="true">Legal advice</mat-checkbox></li>
            <li class="requirements-list-item"><mat-checkbox checked="true">Permits</mat-checkbox></li>
            <li class="requirements-list-item"><mat-checkbox checked="true">KvK</mat-checkbox></li>
          </ul>
        </div>
        <div class="column">
          <div class="risk">Risk: 37%</div>
        </div>
      </div>

      <mat-progress-bar mode="determinate" value="40" class="progress-bar"></mat-progress-bar>

      <div class="review-status">
        Recycled Furniture review status 100% complete
      </div>
    </div>

    <div class="feasibility-sidebar">
      <mat-chip-list>
        <mat-chip color="primary" selected="true">Legal advice</mat-chip>
        <mat-chip>Permits</mat-chip>
        <mat-chip>KvK</mat-chip>
      </mat-chip-list>

      <ul class="messages-list">
        <li class="messages-list-item messages-list-item-right">
          <mat-card class="message message-mine">
            <mat-card-content>
              <p>Hello, can someone assist me with a legal problem? Please let me know when you are available!</p>
            </mat-card-content>
          </mat-card>
        </li>
        <li class="messages-list-item">
          <mat-card class="message message-someone-else">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Loyens &amp; Loeff</mat-card-title>
              <mat-card-subtitle>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Dear Sir/Madam, we gladly want to assist you, could you please describe your problem? </p>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>

      <mat-form-field>
        <input matInput placeholder="Send a message">
      </mat-form-field>
    </div>
  </mat-card>

</div>
