<div class="content" 
  fxLayout="row" 
  fxLayout.xs="column" 
  fxFlexFill >

  <h2>Fiesibility Track</h2>
  <h3>Recicled Furniture</h3>
  <h4>by Recicled Furniture</h4>
  
  <h2>Address Here 55, Groningen</h2>
  <p>www.example.com</p>

  <p>
      Photo booth vaporware waistcoat neutra brooklyn banjo kogi chicharrones fanny pack etsy shoreditch drinking vinegar tbh listicle. Neutra quinoa cloud bread distillery PBR&B whatever gastropub gluten-free austin banh mi deep v. Scenester tote bag tumblr, blue bottle fashion axe cardigan bitters echo park portland pok pok dreamcatcher banjo freegan jianbing. Cronut affogato yuccie cold-pressed.
  </p>

  <h3>324 Vote points for this area</h3>

</div>