<div *ngIf="!popupRedirect">
  <div *ngIf="loading; else ideas">loading</div>
  <ng-template #ideas>
    <div class="civil-ideas">
      <app-civil-idea
        *ngIf="idea"
        [description]="idea.description"
        [numTokens]="100"
        [userBalance]="5"
        (showFeasibility)="popupRedirect = true"></app-civil-idea>

      <app-civil-idea
        [description]="mockDescription"
        (showFeasibility)="popupRedirect = true"></app-civil-idea>
      <app-civil-idea
        [description]="mockDescription"
        (showFeasibility)="popupRedirect = true"></app-civil-idea>
    </div>
  </ng-template>
</div>

<div *ngIf="popupRedirect">
  <app-feasibility-track></app-feasibility-track>
</div>
