<mat-grid-list class="card-row" cols="3" rowHeight="1:1" rowHeight="600px">
    <mat-grid-tile 
        *ngFor="let challenge of challenges"
        [colspan]="1"
        [rowspan]="1">
        <mat-card>  
            <img mat-card-image class="" src="{{ challenge.image }}" alt="{{ challenge.title }}">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title class="card-title">{{ challenge.title }}<br/> <span class="card-title-address"><i class="fas fa-map-marker-alt text-red"></i> {{ challenge.subtitle }}</span></mat-card-title>
                <mat-card-subtitle>by <strong>{{ challenge.by }}</strong></mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-grid-list cols="2" rowHeight="35px">
                <mat-grid-tile [colspan]="1"
                    [rowspan]="1">
                    <p><i class="fas fa-object-group fa-lg"></i> {{ challenge.squareMeters }} m<sup>2</sup></p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"
                    [rowspan]="1">
                    <p><i class="fas fa-cubes fa-lg"></i> Building year: 2006</p>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-divider></mat-divider>
              <p>
                  Lorem ipsum dolor amet selvage messenger bag twee woke salvia man braid banjo. Typewriter gluten-free live-edge, paleo vinyl kickstarter humblebrag cronut leggings cornhole. Ramps hoodie seitan gochujang letterpress blog you probably haven't heard of them tbh shaman four dollar toast adaptogen live-edge literally. Meditation +1 chillwave, viral asymmetrical bushwick hoodie. Tousled synth whatever mixtape tattooed chia.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



